[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==2.0.2"
Flask-Cors = "==3.0.10"
Flask-Excel = "==0.0.7"
google-api-core = "==1.31.3"
google-auth = "==1.35.0"
google-cloud-core = "==1.7.2"
google-cloud-translate = "==2.0.1"
googleapis-common-protos = "==1.53.0"
pyexcel = "==0.6.7"
pyexcel-io = "==0.6.5"
pyexcel-webio = "==0.1.4"
requests = "==2.26.0"
gunicorn = "*"

[dev-packages]
pytest = "*"
