div.item {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

span.highlight {
  background-color: #faec73;
}
